<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen p-6">
<header class="mb-4 flex justify-between items-center">
    <h1 class="text-2xl font-bold">🗑 Корзина</h1>
    <a href="main.html" class="text-blue-600 underline">Вернуться к файлам</a>
</header>

<div id="trash-list" class="space-y-3"></div>

<script src="../static/js/storage.js"></script>
</body>
</html>
